<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>My Introduction</title>
    <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/intro.css">
</head>
<body>


<div class="container">
         <h1 align="center">Introduction</h1><br/>
   <div> <p align="right" >Today's date is 11/06/2017</p></div>
    <div class="row">

        <div class="col-md-6">
           <p >  <b>Name:</b></p>
        </div>

        <div class="col-md-6">


            <p align="right">  <b>Yonatan Mengesha</b></p>
        </div>

    </div>
    <div class="row">

        <div class="col-md-6">
            <p >  <b>Computer#</b></p>
        </div>

        <div class="col-md-6">


            <p align="right">  <b>12</b></p>
        </div>

    </div>

    <div class="row">

        <div class="col-md-6">
            <p >  <b>Favorite Movie</b></p>
        </div>

        <div class="col-md-6">


            <p align="right">  <b>Avatar</b></p>
        </div>

    </div>
    <div class="row">

        <div class="col-md-6">
            <p >  <b>Favorite Quote</b></p>
        </div>

        <div class="col-md-6">


            <p align="right">  <b>Life is Good!(LG)</b></p>
        </div>

    </div>
    <div class="row">

        <div class="col-md-6">
            <p >  <b>Favorite Food</b></p>
        </div>

        <div class="col-md-6">


            <p align="right">  <b>Injera</b></p>
        </div>

    </div>
    <div class="row">

        <div class="col-md-6">
            <p >  <b>Anything else</b></p>
        </div>

        <div class="col-md-6">


            <p align="right">  <b>No</b></p>
        </div>

    </div>






</div>
<script src="http://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>




</body>
</html>